.vs/*
DeepSpeechLib/bin/*
DeepSpeechLib/obj/*
TranscriberConsole/bin/*
TranscriberConsole/obj/*
TranscriberApp/bin/*
TranscriberApp/obj/*
TranscriberAppInstaller/Debug/*
TranscriberAppInstaller/Release/*
packages/*
nupkg/*
models/
*.pfx
CodeSign.bat
